In [1]:
# Import dependencies
import pandas as pd 
import numpy as np

In [2]:
# Read CSV file
df = pd.read_csv("country_data.csv", encoding ="unicode_escape")
df.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Canada,CAN,GDP (current US$),NY.GDP.MKTP.CD,40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,CAN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
2,Canada,CAN,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,..,..,..,..,..,..,...,10.50637913,10.40513706,10.24852657,10.73320484,11.02296066,10.83538342,10.80637455,10.84447765,..,..
3,Canada,CAN,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.35869565217391,1.01876675603215,1.06157112526541,1.6281512605042,1.91214470284239,2.33265720081134,...,1.51567823124521,0.93829189781521,1.90663590717873,1.12524136094279,1.4287595470108,1.5968841285297,2.268225672481,1.94926902411596,0.716999632307852,3.39519318527532
4,Canada,CAN,Urban population (% of total population),SP.URB.TOTL.IN.ZS,69.061,69.668,70.494,71.307,72.107,72.892,...,81.137,81.178,81.218,81.259,81.3,81.35,81.411,81.482,81.562,81.653

In [3]:
# Drop the series code and country code columns
df1 = df.drop(columns=['Series Code', 'Country Code'])
df1.head()

,Country Name,Series Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Canada,GDP (current US$),40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,"Unemployment, total (% of total labor force) (...",..,..,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
2,Canada,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,10.50637913,10.40513706,10.24852657,10.73320484,11.02296066,10.83538342,10.80637455,10.84447765,..,..
3,Canada,"Inflation, consumer prices (annual %)",1.35869565217391,1.01876675603215,1.06157112526541,1.6281512605042,1.91214470284239,2.33265720081134,3.81565906838456,3.57995226730307,...,1.51567823124521,0.93829189781521,1.90663590717873,1.12524136094279,1.4287595470108,1.5968841285297,2.268225672481,1.94926902411596,0.716999632307852,3.39519318527532
4,Canada,Urban population (% of total population),69.061,69.668,70.494,71.307,72.107,72.892,73.642,74.155,...,81.137,81.178,81.218,81.259,81.3,81.35,81.411,81.482,81.562,81.653

In [4]:
# Drop country groupings such as "Africa Eastern and Southern", starting row 2824
df1=df1.iloc [:2821,:]
df1.tail()

,Country Name,Series Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
2816,Zimbabwe,Energy use (kg of oil equivalent per capita),..,..,..,..,..,..,..,..,...,814.910234806806,832.572235670715,..,..,..,..,..,..,..,..
2817,Zimbabwe,Fossil fuel energy consumption (% of total),..,..,..,..,..,..,..,..,...,28.8608734054427,29.0957594045934,..,..,..,..,..,..,..,..
2818,Zimbabwe,Renewable energy consumption (% of total final...,..,..,..,..,..,..,..,..,...,77.5,78.87,80.27,80.82,81.9,82.46,80.23,81.5,..,..
2819,Zimbabwe,"Life expectancy at birth, total (years)",53.235,53.619,54.071,54.549,54.994,55.459,55.889,56.188,...,55.626,57.458,58.846,59.591,60.306,60.709,61.414,61.292,61.124,..
2820,Zimbabwe,GDP per capita (current US$),276.643363257328,279.332656130284,275.966139378504,277.532515496307,282.376856353524,294.893604869097,279.337779057297,295.056449265782,...,1290.19395595933,1408.36780957465,1407.03429326432,1410.32917419555,1421.78778932994,1192.10701204487,2269.17701232332,1421.86859641758,1372.69667433317,1773.92041088078

In [5]:
# Rename the columns by assigning a new list of column names to the columns attribute. 
new_column_names = ['country_name', 'series_name', '1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
df1.columns = new_column_names
df1.head(10)

,country_name,series_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,"Unemployment, total (% of total labor force) (...",..,..,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
2,Canada,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,10.50637913,10.40513706,10.24852657,10.73320484,11.02296066,10.83538342,10.80637455,10.84447765,..,..
3,Canada,"Inflation, consumer prices (annual %)",1.35869565217391,1.01876675603215,1.06157112526541,1.6281512605042,1.91214470284239,2.33265720081134,3.81565906838456,3.57995226730307,...,1.51567823124521,0.93829189781521,1.90663590717873,1.12524136094279,1.4287595470108,1.5968841285297,2.268225672481,1.94926902411596,0.716999632307852,3.39519318527532
4,Canada,Urban population (% of total population),69.061,69.668,70.494,71.307,72.107,72.892,73.642,74.155,...,81.137,81.178,81.218,81.259,81.3,81.35,81.411,81.482,81.562,81.653
5,Canada,"Literacy rate, adult total (% of people ages 1...",..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
6,Canada,"Literacy rate, youth total (% of people ages 1...",..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
7,Canada,"CPIA transparency, accountability, and corrupt...",..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
8,Canada,Energy use (kg of oil equivalent per capita),4251.35353834052,4307.82075420065,4451.56011604169,4694.12006960557,4903.60760672704,5153.93241183047,5272.6647047087,5557.29174015285,...,7733.41165473909,7743.72574213676,7897.85561511436,7631.34157027209,..,..,..,..,..,..
9,Canada,Fossil fuel energy consumption (% of total),83.1924410253646,83.6548998145593,84.333216189842,85.3444185408212,85.4201311056283,86.2146622466963,85.6656005878623,85.797699429717,...,74.4394791451663,73.1735157237361,73.1928743182183,74.089062024806,..,..,..,..,..,..

In [6]:
# Replace special characters ".." with naan value
df1=df1.replace("..","")
df1.replace('', np.nan, inplace=True)

In [7]:
# Calculate the total number of missing values in the dataframe
missing_values = df1.shape[0] - df1.dropna().shape[0]
missing_values

2365

In [8]:
# Drop the years with more than 70% of missing data 

# Calculate the percentage of missing values in each column
missing_percent = df1.isnull().mean(axis=0)
print(missing_percent)

# Identify the columns that have more than 70% missing data
cols_to_drop = missing_percent[missing_percent > 0.70].index

# Drop the identified columns
df1 = df1.drop(cols_to_drop, axis=1)
df1.head()

country_name    0.000000
series_name     0.000000
1960            0.742644
1961            0.740518
1962            0.738745
                  ...
2017            0.401985
2018            0.375753
2019            0.407657
2020            0.561503
2021            0.619993
Length: 64, dtype: float64

,country_name,series_name,1971,1972,1973,1974,1975,1976,1977,1978,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),99271961774.6088,113082820486.918,131321858814.119,160408697341.513,173834029689.343,206575564908.722,211612157028.679,218632867537.477,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,"Unemployment, total (% of total labor force) (...",6.40000009536743,6.30000019073486,5.59999990463257,5.40000009536743,NaN,7.09000015258789,8.05000019073486,8.38000011444092,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
2,Canada,Current health expenditure (% of GDP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.50637913,10.40513706,10.24852657,10.73320484,11.02296066,10.83538342,10.80637455,10.84447765,NaN,NaN
3,Canada,"Inflation, consumer prices (annual %)",2.70491803278688,4.9880287310455,7.48764728240213,10.997171145686,10.672188595094,7.54173862982152,7.97644539614562,8.97372335151215,...,1.51567823124521,0.93829189781521,1.90663590717873,1.12524136094279,1.4287595470108,1.5968841285297,2.268225672481,1.94926902411596,0.716999632307852,3.39519318527532
4,Canada,Urban population (% of total population),76.09,75.971,75.851,75.731,75.611,75.503,75.543,75.583,...,81.137,81.178,81.218,81.259,81.3,81.35,81.411,81.482,81.562,81.653

In [9]:
# Calculate the percentage of missing values in each row
missing_percent = df1.isnull().mean(axis=1)

# Identify the rows that have more than 70% missing data
rows_to_drop = missing_percent[missing_percent > 0.7].index

# Drop the identified rows
df1 = df1.drop(rows_to_drop)

In [10]:
# Selecting the subset of the data that contains only the numeric values
data=df1.iloc[:,2:]

# Convert the subset dataframe values to float
#Creating a loop to convert the variables into float
for column in data:
    data[column] = data[column].astype(float)    

#Fill missing data with averages 
data = data.fillna(data.mean())
data

/var/folders/15/df37cfyx2g99hpb0xn__7db80000gn/T/ipykernel_19789/2954204695.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].astype(float)

,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,9.927196e+10,1.130828e+11,1.313219e+11,1.604087e+11,1.738340e+11,2.065756e+11,2.116122e+11,2.186329e+11,2.430721e+11,2.738538e+11,...,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,1.988336e+12
1,6.400000e+00,6.300000e+00,5.600000e+00,5.400000e+00,5.331803e+09,7.090000e+00,8.050000e+00,8.380000e+00,7.530000e+00,7.540000e+00,...,7.290000e+00,7.070000e+00,6.910000e+00,6.910000e+00,7.000000e+00,6.340000e+00,5.830000e+00,5.660000e+00,9.460000e+00,7.460000e+00
2,3.045851e+09,3.497515e+09,4.244973e+09,4.852739e+09,5.331803e+09,5.811638e+09,6.528420e+09,7.679621e+09,8.875185e+09,9.805444e+09,...,1.050638e+01,1.040514e+01,1.024853e+01,1.073320e+01,1.102296e+01,1.083538e+01,1.080637e+01,1.084448e+01,7.206438e+10,1.049780e+11
3,2.704918e+00,4.988029e+00,7.487647e+00,1.099717e+01,1.067219e+01,7.541739e+00,7.976445e+00,8.973723e+00,9.144677e+00,1.012922e+01,...,1.515678e+00,9.382919e-01,1.906636e+00,1.125241e+00,1.428760e+00,1.596884e+00,2.268226e+00,1.949269e+00,7.169996e-01,3.395193e+00
4,7.609000e+01,7.597100e+01,7.585100e+01,7.573100e+01,7.561100e+01,7.550300e+01,7.554300e+01,7.558300e+01,7.562300e+01,7.566300e+01,...,8.113700e+01,8.117800e+01,8.121800e+01,8.125900e+01,8.130000e+01,8.135000e+01,8.141100e+01,8.148200e+01,8.156200e+01,8.165300e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2816,1.014151e+03,1.001457e+03,1.027098e+03,1.006835e+03,9.704137e+02,9.932503e+02,9.398927e+02,9.201632e+02,9.222480e+02,9.209392e+02,...,8.149102e+02,8.325722e+02,4.221115e+10,4.449112e+10,4.722919e+10,5.049347e+10,5.377685e+10,5.485039e+10,7.206438e+10,1.049780e+11
2817,3.978544e+01,3.726530e+01,4.066385e+01,3.832715e+01,3.624432e+01,3.773789e+01,3.490333e+01,3.398354e+01,3.318481e+01,3.444828e+01,...,2.886087e+01,2.909576e+01,4.221115e+10,4.449112e+10,4.722919e+10,5.049347e+10,5.377685e+10,5.485039e+10,7.206438e+10,1.049780e+11
2818,3.045851e+09,3.497515e+09,4.244973e+09,4.852739e+09,5.331803e+09,5.811638e+09,6.528420e+09,7.679621e+09,8.875185e+09,9.805444e+09,...,7.750000e+01,7.887000e+01,8.027000e+01,8.082000e+01,8.190000e+01,8.246000e+01,8.023000e+01,8.150000e+01,7.206438e+10,1.049780e+11
2819,5.719600e+01,5.740100e+01,5.736700e+01,5.749400e+01,5.755200e+01,5.693600e+01,5.628500e+01,5.459300e+01,5.503800e+01,5.867400e+01,...,5.562600e+01,5.745800e+01,5.884600e+01,5.959100e+01,6.030600e+01,6.070900e+01,6.141400e+01,6.129200e+01,6.112400e+01,1.049780e+11
2820,4.062175e+02,4.839700e+02,5.792964e+02,6.745390e+02,7.169495e+02,6.867217e+02,6.763292e+02,6.644325e+02,7.778830e+02,9.473671e+02,...,1.290194e+03,1.408368e+03,1.407034e+03,1.410329e+03,1.421788e+03,1.192107e+03,2.269177e+03,1.421869e+03,1.372697e+03,1.773920e+03

In [11]:
#Verify there are no more rows with missing values
rows_with_missing_values = data.isna().any(axis=1)
print(f'Rows with missing values: {rows_with_missing_values}')

Rows with missing values: 0       False
1       False
2       False
3       False
4       False
        ...
2816    False
2817    False
2818    False
2819    False
2820    False
Length: 1904, dtype: bool

In [12]:
#Verify there are no more columns with missing values
data.isnull().all()

1971    False
1972    False
1973    False
1974    False
1975    False
1976    False
1977    False
1978    False
1979    False
1980    False
1981    False
1982    False
1983    False
1984    False
1985    False
1986    False
1987    False
1988    False
1989    False
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005    False
2006    False
2007    False
2008    False
2009    False
2010    False
2011    False
2012    False
2013    False
2014    False
2015    False
2016    False
2017    False
2018    False
2019    False
2020    False
2021    False
dtype: bool

In [13]:
# Create a non numeric dataframe containing country_name and series_name
non_num=df1.iloc[:,:2]

# Add back non numeric columns to the dataframe
df1 = pd.merge(non_num, data, left_index=True, right_index=True)
df1

,country_name,series_name,1971,1972,1973,1974,1975,1976,1977,1978,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),9.927196e+10,1.130828e+11,1.313219e+11,1.604087e+11,1.738340e+11,2.065756e+11,2.116122e+11,2.186329e+11,...,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,1.988336e+12
1,Canada,"Unemployment, total (% of total labor force) (...",6.400000e+00,6.300000e+00,5.600000e+00,5.400000e+00,5.331803e+09,7.090000e+00,8.050000e+00,8.380000e+00,...,7.290000e+00,7.070000e+00,6.910000e+00,6.910000e+00,7.000000e+00,6.340000e+00,5.830000e+00,5.660000e+00,9.460000e+00,7.460000e+00
2,Canada,Current health expenditure (% of GDP),3.045851e+09,3.497515e+09,4.244973e+09,4.852739e+09,5.331803e+09,5.811638e+09,6.528420e+09,7.679621e+09,...,1.050638e+01,1.040514e+01,1.024853e+01,1.073320e+01,1.102296e+01,1.083538e+01,1.080637e+01,1.084448e+01,7.206438e+10,1.049780e+11
3,Canada,"Inflation, consumer prices (annual %)",2.704918e+00,4.988029e+00,7.487647e+00,1.099717e+01,1.067219e+01,7.541739e+00,7.976445e+00,8.973723e+00,...,1.515678e+00,9.382919e-01,1.906636e+00,1.125241e+00,1.428760e+00,1.596884e+00,2.268226e+00,1.949269e+00,7.169996e-01,3.395193e+00
4,Canada,Urban population (% of total population),7.609000e+01,7.597100e+01,7.585100e+01,7.573100e+01,7.561100e+01,7.550300e+01,7.554300e+01,7.558300e+01,...,8.113700e+01,8.117800e+01,8.121800e+01,8.125900e+01,8.130000e+01,8.135000e+01,8.141100e+01,8.148200e+01,8.156200e+01,8.165300e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2816,Zimbabwe,Energy use (kg of oil equivalent per capita),1.014151e+03,1.001457e+03,1.027098e+03,1.006835e+03,9.704137e+02,9.932503e+02,9.398927e+02,9.201632e+02,...,8.149102e+02,8.325722e+02,4.221115e+10,4.449112e+10,4.722919e+10,5.049347e+10,5.377685e+10,5.485039e+10,7.206438e+10,1.049780e+11
2817,Zimbabwe,Fossil fuel energy consumption (% of total),3.978544e+01,3.726530e+01,4.066385e+01,3.832715e+01,3.624432e+01,3.773789e+01,3.490333e+01,3.398354e+01,...,2.886087e+01,2.909576e+01,4.221115e+10,4.449112e+10,4.722919e+10,5.049347e+10,5.377685e+10,5.485039e+10,7.206438e+10,1.049780e+11
2818,Zimbabwe,Renewable energy consumption (% of total final...,3.045851e+09,3.497515e+09,4.244973e+09,4.852739e+09,5.331803e+09,5.811638e+09,6.528420e+09,7.679621e+09,...,7.750000e+01,7.887000e+01,8.027000e+01,8.082000e+01,8.190000e+01,8.246000e+01,8.023000e+01,8.150000e+01,7.206438e+10,1.049780e+11
2819,Zimbabwe,"Life expectancy at birth, total (years)",5.719600e+01,5.740100e+01,5.736700e+01,5.749400e+01,5.755200e+01,5.693600e+01,5.628500e+01,5.459300e+01,...,5.562600e+01,5.745800e+01,5.884600e+01,5.959100e+01,6.030600e+01,6.070900e+01,6.141400e+01,6.129200e+01,6.112400e+01,1.049780e+11
2820,Zimbabwe,GDP per capita (current US$),4.062175e+02,4.839700e+02,5.792964e+02,6.745390e+02,7.169495e+02,6.867217e+02,6.763292e+02,6.644325e+02,...,1.290194e+03,1.408368e+03,1.407034e+03,1.410329e+03,1.421788e+03,1.192107e+03,2.269177e+03,1.421869e+03,1.372697e+03,1.773920e+03

In [18]:
# Create a non numeric dataframe containing country_name and series_name
non_num=df1.iloc[:,:2]

# Drop rows with missing values
#data = df1.dropna(axis=0)

# define the series name to filter on
series_name_list = ['GDP per capita (current US$)','Urban population (% of total population)','GDP (current US$)','Inflation, consumer prices (annual %)','Literacy rate, adult total (% of people ages 15 and above)','Unemployment, total (% of total labor force) (national estimate)','Current health expenditure (% of GDP)']

# create an empty dictionary to store the dataframe
df_dict = {}

# iterate over the series name list
for series_name in series_name_list:
    # filter dataframe based on series_name
    df = df1[df1['series_name'] == series_name]
    # drop series_name column
    df = df.drop(columns=['series_name'])
    # melt the dataframe
    df = pd.melt(df, id_vars =["country_name"], var_name = "Year", value_name = series_name.lower().replace(" ", "_").replace("(","").replace(")","") )
    # add the dataframe to the dictionary
    df_dict[series_name] = df

df_dict

{'GDP per capita (current US$)':                 country_name  Year  gdp_per_capita_current_us$
 0                     Canada  1971                4.520163e+03
 1                Afghanistan  1971                1.662248e+02
 2                    Albania  1971                3.045851e+09
 3                    Algeria  1971                3.598246e+02
 4             American Samoa  1971                3.045851e+09
 ...                      ...   ...                         ...
 10603  Virgin Islands (U.S.)  2021                1.049780e+11
 10604     West Bank and Gaza  2021                3.663969e+03
 10605            Yemen, Rep.  2021                1.049780e+11
 10606                 Zambia  2021                1.137344e+03
 10607               Zimbabwe  2021                1.773920e+03

 [10608 rows x 3 columns],
 'Urban population (% of total population)':                 country_name  Year  urban_population_%_of_total_population
 0                     Canada  1971                                  76.090
 1                Afghanistan  1971                                  12.021
 2                    Albania  1971                                  31.933
 3                    Algeria  1971                                  39.665
 4             American Samoa  1971                                  70.784
 ...                      ...   ...                                     ...
 10960  Virgin Islands (U.S.)  2021                                  96.040
 10961     West Bank and Gaza  2021                                  77.003
 10962            Yemen, Rep.  2021                                  38.546
 10963                 Zambia  2021                                  45.192
 10964               Zimbabwe  2021                                  32.303

 [10965 rows x 3 columns],
 'GDP (current US$)':                 country_name  Year  gdp_current_us$
 0                     Canada  1971     9.927196e+10
 1                Afghanistan  1971     1.831109e+09
 2                    Albania  1971     3.045851e+09
 3                    Algeria  1971     5.077222e+09
 4             American Samoa  1971     3.045851e+09
 ...                      ...   ...              ...
 10603  Virgin Islands (U.S.)  2021     1.049780e+11
 10604     West Bank and Gaza  2021     1.803680e+10
 10605            Yemen, Rep.  2021     1.049780e+11
 10606                 Zambia  2021     2.214763e+10
 10607               Zimbabwe  2021     2.837124e+10

 [10608 rows x 3 columns],
 'Inflation, consumer prices (annual %)':             country_name  Year  inflation,_consumer_prices_annual_%
 0                 Canada  1971                         2.704918e+00
 1            Afghanistan  1971                         3.045851e+09
 2                Albania  1971                         3.045851e+09
 3                Algeria  1971                         2.626642e+00
 4                 Angola  1971                         3.045851e+09
 ...                  ...   ...                                  ...
 9124             Vanuatu  2021                         2.343284e+00
 9125             Vietnam  2021                         1.834716e+00
 9126  West Bank and Gaza  2021                         1.237481e+00
 9127         Yemen, Rep.  2021                         1.049780e+11
 9128              Zambia  2021                         2.202123e+01

 [9129 rows x 3 columns],
 'Literacy rate, adult total (% of people ages 15 and above)':            country_name  Year  \
 0            Bangladesh  1971
 1                Brazil  1971
 2              Colombia  1971
 3               Ecuador  1971
 4           El Salvador  1971
 ..                  ...   ...
 709           Singapore  2021
 710               Spain  2021
 711             Turkiye  2021
 712             Uruguay  2021
 713  West Bank and Gaza  2021

      literacy_rate,_adult_total_%_of_people_ages_15_and_above
 0                                         3.045851e+09
 1                                         3.045851e+09
 2                                         3.045851e+09
 3                                         3.045851e+09
 4                                         3.045851e+09
 ..                                                 ...
 709                                       1.049780e+11
 710                                       1.049780e+11
 711                                       1.049780e+11
 712                                       1.049780e+11
 713                                       1.049780e+11

 [714 rows x 3 columns],
 'Unemployment, total (% of total labor force) (national estimate)':             country_name  Year  \
 0                 Canada  1971
 1                Albania  1971
 2                Algeria  1971
 3         American Samoa  1971
 4              Argentina  1971
 ...                  ...   ...
 6166          Uzbekistan  2021
 6167       Venezuela, RB  2021
 6168             Vietnam  2021
 6169  West Bank and Gaza  2021
 6170              Zambia  2021

       unemployment,_total_%_of_total_labor_force_national_estimate
 0                                          6.400000e+00
 1                                          3.045851e+09
 2                                          3.045851e+09
 3                                          3.045851e+09
 4                                          6.000000e+00
 ...                                                 ...
 6166                                       1.049780e+11
 6167                                       1.049780e+11
 6168                                       2.380000e+00
 6169                                       2.639000e+01
 6170                                       1.049780e+11

 [6171 rows x 3 columns],
 'Current health expenditure (% of GDP)':        country_name  Year  current_health_expenditure_%_of_gdp
 0            Canada  1971                         3.045851e+09
 1       Afghanistan  1971                         3.045851e+09
 2           Albania  1971                         3.045851e+09
 3           Algeria  1971                         3.045851e+09
 4           Andorra  1971                         3.045851e+09
 ...             ...   ...                                  ...
 9430        Vanuatu  2021                         1.049780e+11
 9431  Venezuela, RB  2021                         1.049780e+11
 9432        Vietnam  2021                         1.049780e+11
 9433    Yemen, Rep.  2021                         1.049780e+11
 9434         Zambia  2021                         1.049780e+11

 [9435 rows x 3 columns]}

In [ ]:
# Create the GDP per capita (current US$) dataframe by filtering
gdp_per_cap=df1[df1['series_name'] == 'GDP per capita (current US$)']
gdp_per_cap.head()

In [ ]:
# Turn dataframe from wide to long format
gdp_per_cap = gdp_per_cap.drop(columns=['series_name'])
gdp_per_cap = pd.melt(gdp_per_cap, id_vars =["country_name"], var_name = "Year", value_name = "gdp_per_cap" )
gdp_per_cap.head()

In [ ]:
# Urban population (% of total population)
urbanization=df1[df1['series_name'] == 'Urban population (% of total population)']
urbanization.head()

In [ ]:
# Turn dataframe from wide to long format
urbanization = urbanization.drop(columns=['series_name'])
urbanization = pd.melt(urbanization, id_vars =["country_name"], var_name = "Year", value_name = "urbanization" )
urbanization.head()

In [ ]:
# GDP (current US$)	dataframe
gdp_current=df1[df1['series_name'] == 'GDP (current US$)']
gdp_current.head()

In [ ]:
# Turn dataframe from wide to long format
gdp_current = gdp_current.drop(columns=['series_name'])
gdp_current = pd.melt(gdp_current, id_vars =["country_name"], var_name = "Year", value_name = "gdp_current" )
gdp_current.head()

In [ ]:
# Inflation, consumer prices (annual %) dataframe
inflation=df1[df1['series_name'] == 'Inflation, consumer prices (annual %)']
inflation.head()

In [ ]:
# Turn dataframe from wide to long format
inflation = inflation.drop(columns=['series_name'])
inflation = pd.melt(inflation, id_vars =["country_name"], var_name = "Year", value_name = "inflation" )
inflation.head()

In [ ]:
# Literacy rate, adult total (% of people ages 15 and above)
literacy_adult=df1[df1['series_name'] == 'Literacy rate, adult total (% of people ages 15 and above)']
literacy_adult.head()

In [ ]:
# Turn dataframe from wide to long format
literacy_adult = literacy_adult.drop(columns=['series_name'])
literacy_adult = pd.melt(literacy_adult, id_vars =["country_name"], var_name = "Year", value_name = "literacy_adult" )
literacy_adult.head()

In [ ]:
# Unemployment, total (% of total labor force) (national estimate)
unemployment=df1[df1['series_name'] == 'Unemployment, total (% of total labor force) (national estimate)']
unemployment.head()

In [ ]:
# Turn dataframe from wide to long format
unemployment = unemployment.drop(columns=['series_name'])
unemployment = pd.melt(unemployment, id_vars =["country_name"], var_name = "Year", value_name = "unemployment" )
unemployment.head()

In [ ]:
# Current health expenditure per capita (current US$)
health_exp=df1[df1['series_name'] == 'Current health expenditure (% of GDP)']
health_exp.head()

In [ ]:
# Turn dataframe from wide to long format
health_exp = health_exp.drop(columns=['series_name'])
health_exp = pd.melt(health_exp, id_vars =["country_name"], var_name = "Year", value_name = "health_exp" )
health_exp.head()

In [ ]:
# Literacy rate, youth total (% of people ages 15-24)
literacy_youth=df1[df1['series_name'] == 'Literacy rate, youth total (% of people ages 15-24)']
literacy_youth.head()

In [ ]:
# Turn dataframe from wide to long format
literacy_youth = literacy_youth.drop(columns=['series_name'])
literacy_youth = pd.melt(literacy_youth, id_vars =["country_name"], var_name = "Year", value_name = "literacy_youth" )
literacy_youth.head()

In [ ]:
# Energy use (kg of oil equivalent per capita)
energy_use=df1[df1['series_name'] == 'Energy use (kg of oil equivalent per capita)']
energy_use.head()

In [ ]:
# Turn dataframe from wide to long format
energy_use = energy_use.drop(columns=['series_name'])
energy_use = pd.melt(energy_use, id_vars =["country_name"], var_name = "Year", value_name = "energy_use" )
energy_use.head()

In [ ]:
# Fossil fuel energy consumption (% of total)
ff_consumption=df1[df1['series_name'] == 'Fossil fuel energy consumption (% of total)']
ff_consumption.head()

In [ ]:
# Turn dataframe from wide to long format
ff_consumption= ff_consumption.drop(columns=['series_name'])
ff_consumption = pd.melt(ff_consumption, id_vars =["country_name"], var_name = "Year", value_name = "ff_consumption" )
ff_consumption.head()

In [ ]:
# Renewable energy consumption (% of total final energy consumption)
re_consumption=df1[df1['series_name'] == 'Renewable energy consumption (% of total final energy consumption)']
re_consumption.head()

In [ ]:
# Turn dataframe from wide to long format
re_consumption = re_consumption.drop(columns=['series_name'])
re_consumption = pd.melt(re_consumption, id_vars =["country_name"], var_name = "Year", value_name = "re_consumption" )
re_consumption.head()

In [ ]:
# Life expectancy at birth, total (years)
life_exp=df1[df1['series_name'] == 'Life expectancy at birth, total (years)']
life_exp.head()

In [ ]:
# Turn dataframe from wide to long format
life_exp = life_exp.drop(columns=['series_name'])
life_exp = pd.melt(life_exp, id_vars =["country_name"], var_name = "Year", value_name = "life_exp" )
life_exp.head()

In [ ]:
# Verify all dataframes have the same size
dataframes = [urbanization,gdp_per_cap,inflation,gdp_current,unemployment,literacy_adult, health_exp, literacy_youth, life_exp,re_consumption,ff_consumption,energy_use]
for df in dataframes:
    print(f"{df} shape: {df.shape}")

In [ ]:
# Merge all dataframes 
# list of dataframes to be merged
dataframes = [urbanization,gdp_per_cap,inflation,gdp_current,unemployment,literacy_adult, health_exp, literacy_youth, life_exp,re_consumption,ff_consumption,energy_use]

# initialize the first dataframe as the base
merged_df = dataframes[0]

# loop through the rest of the dataframes
for i in range(1, len(dataframes)):
    # use the merge() function to join the current dataframe with the base on the 'country_name' and 'year' columns
    merged_df = pd.merge(merged_df, dataframes[i], on=['country_name', 'Year'])

merged_df.head()

In [ ]:
print(merged_df.shape)

In [ ]:
# Remove outliers using IQR method
# Iterate through columns of the dataframe, starting from the 3rd column
for col in merged_df.columns[2:]:
    # Calculate the first and third quartiles (Q1 and Q3)
    Q1 = merged_df[col].quantile(0.25)
    Q3 = merged_df[col].quantile(0.75)

    # Calculate the IQR
    IQR = Q3 - Q1

    # Define the lower and upper bounds for outliers
    lower_bound = Q1 - (1.5 * IQR)
    upper_bound = Q3 + (1.5 * IQR)

    # Identify the outlier countries
    outlier_countries = merged_df[(merged_df[col] < lower_bound) | (merged_df[col] > upper_bound)]

    # Remove the outlier countries from the dataset
    merged_df = merged_df[~merged_df.index.isin(outlier_countries.index)]

print(merged_df.shape)