In [35]:
# Import dependencies
import pandas as pd 
import numpy as np

In [36]:
# Read CSV file
df = pd.read_csv("country_data.csv", encoding ="unicode_escape")
df.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Canada,CAN,GDP (current US$),NY.GDP.MKTP.CD,40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,CAN,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,3.16329168371298,7.42538477443719,5.34954645713648,6.64289441498821,6.31671417557232,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,CAN,GDP per capita (current US$),NY.GDP.PCAP.CD,2259.25051088642,2240.43303945853,2268.58534607907,2374.49844764883,2555.11114601309,2770.36180408145,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,CAN,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,CAN,Consumer price index (2010 = 100),FP.CPI.TOTL,13.3443045220378,13.480251860332,13.6233543216943,13.845163136806,14.1099026903263,14.4390383514596,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508

In [37]:
# Drop the series code and country code columns
df1 = df.drop(columns=['Series Code', 'Country Code'])
df1.head()

,Country Name,Series Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],...,2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Canada,GDP (current US$),40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,GDP growth (annual %),..,3.16329168371298,7.42538477443719,5.34954645713648,6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,GDP per capita (current US$),2259.25051088642,2240.43303945853,2268.58534607907,2374.49844764883,2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,"Unemployment, total (% of total labor force) (...",..,..,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,Consumer price index (2010 = 100),13.3443045220378,13.480251860332,13.6233543216943,13.845163136806,14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508

In [38]:
# Drop country groupings such as "Africa Eastern and Southern", starting row 1521
df1=df1.iloc [:1520,:]

In [39]:
# Rename the columns by assigning a new list of column names to the columns attribute. 
new_column_names = ['country_name', 'series_name', '1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']
df1.columns = new_column_names
df1.head(10)

,country_name,series_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),40461721692.6468,40934952063.9468,42227447631.9159,45029988561.2124,49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,GDP growth (annual %),..,3.16329168371298,7.42538477443719,5.34954645713648,6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,GDP per capita (current US$),2259.25051088642,2240.43303945853,2268.58534607907,2374.49844764883,2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,"Unemployment, total (% of total labor force) (...",..,..,..,..,..,..,..,..,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,Consumer price index (2010 = 100),13.3443045220378,13.480251860332,13.6233543216943,13.845163136806,14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508
5,Canada,"Inflation, consumer prices (annual %)",1.35869565217391,1.01876675603215,1.06157112526541,1.6281512605042,1.91214470284239,2.33265720081134,3.81565906838456,3.57995226730307,...,1.51567823124521,0.93829189781521,1.90663590717873,1.12524136094279,1.4287595470108,1.5968841285297,2.268225672481,1.94926902411596,0.716999632307852,3.39519318527532
6,Canada,Current health expenditure (% of GDP),..,..,..,..,..,..,..,..,...,10.50637913,10.40513706,10.24852657,10.73320484,11.02296066,10.83538342,10.80637455,10.84447765,..,..
7,Afghanistan,GDP (current US$),537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,1399999966.66667,1673333417.77778,...,20203572959.5023,20564485419.1684,20550582746.8448,19998156214.3988,18019558181.9602,18896352021.94,18418848299.5825,18904490262.913,20143442150.971,14786861638.4535
8,Afghanistan,GDP growth (annual %),..,..,..,..,..,..,..,..,...,12.7522870887171,5.60074465808154,2.72454336394854,1.45131466009755,2.26031420130452,2.64700320195786,1.18922812838034,3.911603419423,-2.35110067344623,-20.7371456208414
9,Afghanistan,GDP per capita (current US$),62.3693745050559,62.4437034626929,60.9503638210144,82.0217375781519,85.5110734102311,105.243195716467,143.103233209791,167.165674606148,...,663.141052810937,651.987861948108,628.146803888496,592.476537451681,520.252064031151,530.149830802984,502.056770622973,500.522664145294,516.866552182696,368.754614175459

In [40]:
# Replace special characters ".." with naan value
df1=df1.replace("..","")
df1.replace('', np.nan, inplace=True)

In [41]:
# Calculate the total number of missing values in the dataframe
missing_values = df1.shape[0] - df1.dropna().shape[0]
missing_values

1217

In [42]:
# Drop the years with more than 70% of missing data 

# Calculate the percentage of missing values in each column
missing_percent = df1.isnull().mean(axis=0)
print(missing_percent)

# Identify the columns that have more than 70% missing data
cols_to_drop = missing_percent[missing_percent > 0.70].index

# Drop the identified columns
df1 = df1.drop(cols_to_drop, axis=1)
df1.head()

country_name    0.000000
series_name     0.000000
1960            0.782237
1961            0.716447
1962            0.709211
                  ...
2017            0.143421
2018            0.151974
2019            0.155263
2020            0.303947
2021            0.349342
Length: 64, dtype: float64

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),49377522896.703,54515179580.7148,61088384036.6515,65668655501.1254,71829810519.8955,79148411661.6902,87896095320.1263,99271961774.6088,...,1828366481521.6,1846597421834.98,1805749878439.94,1556508816217.14,1527994741907.43,1649265644244.09,1725329192783.02,1742015045482.31,1645423407568.36,1988336331717.42
1,Canada,GDP growth (annual %),6.64289441498821,6.31671417557232,6.70499176434708,3.09120596217809,4.99566660464043,5.04545636736964,NaN,NaN,...,1.76222254945881,2.3291225062102,2.87003607545671,0.659176863558869,1.00139441390405,3.03988022528195,2.77704055379553,1.87959202770178,-5.23302430280606,4.54088730942124
2,Canada,GDP per capita (current US$),2555.11114601309,2770.36180408145,3047.10614707958,3217.15929360795,3462.67887195794,3763.95337938417,4121.93281373693,4520.1628781257,...,52669.0899632316,52635.1749580433,50955.9983232404,43596.1355365546,42315.6037056806,45129.4292980922,46548.6384108296,46328.6718408497,43258.2638715601,51987.9390529728
3,Canada,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,4.69999980926514,5.90000009536743,6.40000009536743,...,7.28999996185303,7.07000017166138,6.90999984741211,6.90999984741211,7,6.34000015258789,5.82999992370605,5.65999984741211,9.46000003814697,7.46000003814697
4,Canada,Consumer price index (2010 = 100),14.1099026903263,14.4390383514596,14.9899828277046,15.5266170578134,16.1562678878077,16.8932455638237,17.4585002862049,17.9307384087006,...,104.471951917573,105.452203777905,107.462793360046,108.672009158558,110.224670864339,111.984831139096,114.524899828277,116.75729822553,117.594447624499,121.587006296508

In [43]:
# Calculate the percentage of missing values in each row
missing_percent = df1.isnull().mean(axis=1)

# Identify the rows that have more than 70% missing data
rows_to_drop = missing_percent[missing_percent > 0.7].index

# Drop the identified rows
df1 = df1.drop(rows_to_drop)

In [49]:
# Selecting the subset of the data that contains only the numeric values
data=df1.iloc[:,2:]

# Convert the subset dataframe values to float
#Creating a loop to convert the variables into float
for column in data:
    data[column] = data[column].astype(float)    

#Fill missing data with averages 
data = data.fillna(data.mean())
data

/var/folders/15/df37cfyx2g99hpb0xn__7db80000gn/T/ipykernel_14907/4102183867.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = data[column].astype(float)

,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,4.937752e+10,5.451518e+10,6.108838e+10,6.566866e+10,7.182981e+10,7.914841e+10,8.789610e+10,9.927196e+10,1.130828e+11,1.313219e+11,...,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,1.988336e+12
1,6.642894e+00,6.316714e+00,6.704992e+00,3.091206e+00,4.995667e+00,5.045456e+00,4.995407e+09,5.278676e+09,6.018426e+09,7.274857e+09,...,1.762223e+00,2.329123e+00,2.870036e+00,6.591769e-01,1.001394e+00,3.039880e+00,2.777041e+00,1.879592e+00,-5.233024e+00,4.540887e+00
2,2.555111e+03,2.770362e+03,3.047106e+03,3.217159e+03,3.462679e+03,3.763953e+03,4.121933e+03,4.520163e+03,5.089588e+03,5.838661e+03,...,5.266909e+04,5.263517e+04,5.095600e+04,4.359614e+04,4.231560e+04,4.512943e+04,4.654864e+04,4.632867e+04,4.325826e+04,5.198794e+04
3,3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.700000e+00,5.900000e+00,6.400000e+00,6.300000e+00,5.600000e+00,...,7.290000e+00,7.070000e+00,6.910000e+00,6.910000e+00,7.000000e+00,6.340000e+00,5.830000e+00,5.660000e+00,9.460000e+00,7.460000e+00
4,1.410990e+01,1.443904e+01,1.498998e+01,1.552662e+01,1.615627e+01,1.689325e+01,1.745850e+01,1.793074e+01,1.882513e+01,2.023469e+01,...,1.044720e+02,1.054522e+02,1.074628e+02,1.086720e+02,1.102247e+02,1.119848e+02,1.145249e+02,1.167573e+02,1.175944e+02,1.215870e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511,3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,6.018426e+09,7.274857e+09,...,3.930529e+00,4.690910e+00,3.829242e+00,4.435102e+00,4.477207e+00,4.376977e+00,5.032715e+00,5.312203e+00,8.328121e+10,9.945796e+10
1512,1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,1.884206e+09,2.178716e+09,2.677729e+09,3.309354e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10
1513,-1.106172e+00,4.910571e+00,1.523130e+00,8.367009e+00,1.970135e+00,1.242824e+01,2.256515e+01,8.917587e+00,8.329775e+00,2.604715e+00,...,1.574488e+01,3.196731e+00,1.484543e+00,2.023650e+00,9.009554e-01,4.080264e+00,5.009867e+00,-6.332446e+00,-7.816951e+00,8.468017e+00
1514,2.823769e+02,2.948936e+02,2.793378e+02,2.950564e+02,3.028029e+02,3.465389e+02,3.621441e+02,4.062175e+02,4.839700e+02,5.792964e+02,...,1.290194e+03,1.408368e+03,1.407034e+03,1.410329e+03,1.421788e+03,1.192107e+03,2.269177e+03,1.421869e+03,1.372697e+03,1.773920e+03
1519,2.611906e+10,2.968249e+10,3.223946e+10,3.351491e+10,3.652187e+10,4.182878e+10,4.486308e+10,4.947944e+10,5.351541e+10,6.960152e+10,...,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11,8.827213e+11,1.021119e+12,1.007240e+12,1.001017e+12,9.274845e+11,1.080712e+12

In [56]:
#Verify there are no more rows with missing values
rows_with_missing_values = data.isna().any(axis=1)
rows_with_missing_values

0       False
1       False
2       False
3       False
4       False
        ...
1511    False
1512    False
1513    False
1514    False
1519    False
Length: 1276, dtype: bool

In [57]:
#Verify there are no more columns with missing values
data.isnull().all()

1964    False
1965    False
1966    False
1967    False
1968    False
1969    False
1970    False
1971    False
1972    False
1973    False
1974    False
1975    False
1976    False
1977    False
1978    False
1979    False
1980    False
1981    False
1982    False
1983    False
1984    False
1985    False
1986    False
1987    False
1988    False
1989    False
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
2000    False
2001    False
2002    False
2003    False
2004    False
2005    False
2006    False
2007    False
2008    False
2009    False
2010    False
2011    False
2012    False
2013    False
2014    False
2015    False
2016    False
2017    False
2018    False
2019    False
2020    False
2021    False
dtype: bool

In [58]:
# Create a non numeric dataframe containing country_name and series_name
non_num=df1.iloc[:,:2]

# Add back non numeric columns to the dataframe
df1 = pd.merge(non_num, data, left_index=True, right_index=True)
df1

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),4.937752e+10,5.451518e+10,6.108838e+10,6.566866e+10,7.182981e+10,7.914841e+10,8.789610e+10,9.927196e+10,...,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,1.988336e+12
1,Canada,GDP growth (annual %),6.642894e+00,6.316714e+00,6.704992e+00,3.091206e+00,4.995667e+00,5.045456e+00,4.995407e+09,5.278676e+09,...,1.762223e+00,2.329123e+00,2.870036e+00,6.591769e-01,1.001394e+00,3.039880e+00,2.777041e+00,1.879592e+00,-5.233024e+00,4.540887e+00
2,Canada,GDP per capita (current US$),2.555111e+03,2.770362e+03,3.047106e+03,3.217159e+03,3.462679e+03,3.763953e+03,4.121933e+03,4.520163e+03,...,5.266909e+04,5.263517e+04,5.095600e+04,4.359614e+04,4.231560e+04,4.512943e+04,4.654864e+04,4.632867e+04,4.325826e+04,5.198794e+04
3,Canada,"Unemployment, total (% of total labor force) (...",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.700000e+00,5.900000e+00,6.400000e+00,...,7.290000e+00,7.070000e+00,6.910000e+00,6.910000e+00,7.000000e+00,6.340000e+00,5.830000e+00,5.660000e+00,9.460000e+00,7.460000e+00
4,Canada,Consumer price index (2010 = 100),1.410990e+01,1.443904e+01,1.498998e+01,1.552662e+01,1.615627e+01,1.689325e+01,1.745850e+01,1.793074e+01,...,1.044720e+02,1.054522e+02,1.074628e+02,1.086720e+02,1.102247e+02,1.119848e+02,1.145249e+02,1.167573e+02,1.175944e+02,1.215870e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511,Zambia,Current health expenditure (% of GDP),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,3.930529e+00,4.690910e+00,3.829242e+00,4.435102e+00,4.477207e+00,4.376977e+00,5.032715e+00,5.312203e+00,8.328121e+10,9.945796e+10
1512,Zimbabwe,GDP (current US$),1.217138e+09,1.311436e+09,1.281750e+09,1.397002e+09,1.479600e+09,1.747999e+09,1.884206e+09,2.178716e+09,...,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,3.415607e+10,2.183223e+10,2.150970e+10,2.837124e+10
1513,Zimbabwe,GDP growth (annual %),-1.106172e+00,4.910571e+00,1.523130e+00,8.367009e+00,1.970135e+00,1.242824e+01,2.256515e+01,8.917587e+00,...,1.574488e+01,3.196731e+00,1.484543e+00,2.023650e+00,9.009554e-01,4.080264e+00,5.009867e+00,-6.332446e+00,-7.816951e+00,8.468017e+00
1514,Zimbabwe,GDP per capita (current US$),2.823769e+02,2.948936e+02,2.793378e+02,2.950564e+02,3.028029e+02,3.465389e+02,3.621441e+02,4.062175e+02,...,1.290194e+03,1.408368e+03,1.407034e+03,1.410329e+03,1.421788e+03,1.192107e+03,2.269177e+03,1.421869e+03,1.372697e+03,1.773920e+03
1519,Africa Eastern and Southern,GDP (current US$),2.611906e+10,2.968249e+10,3.223946e+10,3.351491e+10,3.652187e+10,4.182878e+10,4.486308e+10,4.947944e+10,...,9.725734e+11,9.834729e+11,1.003768e+12,9.245228e+11,8.827213e+11,1.021119e+12,1.007240e+12,1.001017e+12,9.274845e+11,1.080712e+12

In [59]:
# Create the GDP per capita (current US$) dataframe by filtering
gdp_per_cap=df1[df1['series_name'] == 'GDP per capita (current US$)']
gdp_per_cap.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
2,Canada,GDP per capita (current US$),2.555111e+03,2.770362e+03,3.047106e+03,3.217159e+03,3.462679e+03,3.763953e+03,4.121933e+03,4.520163e+03,...,52669.089963,52635.174958,50955.998323,43596.135537,42315.603706,45129.429298,46548.638411,46328.671841,43258.263872,51987.939053
9,Afghanistan,GDP per capita (current US$),8.551107e+01,1.052432e+02,1.431032e+02,1.671657e+02,1.340128e+02,1.342504e+02,1.626422e+02,1.662248e+02,...,663.141053,651.987862,628.146804,592.476537,520.252064,530.149831,502.056771,500.522664,516.866552,368.754614
16,Albania,GDP per capita (current US$),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,4247.630047,4413.062005,4578.633208,3952.802538,4124.055390,4531.019374,5287.663694,5396.215864,5332.160475,6492.872012
23,Algeria,GDP per capita (current US$),2.388759e+02,2.533070e+02,2.410006e+02,2.613641e+02,2.920266e+02,3.155595e+02,3.525310e+02,3.598246e+02,...,5610.730894,5519.777576,5516.230604,4197.421361,3967.199451,4134.936720,4171.795011,4022.150184,3337.252512,3690.627878
30,American Samoa,GDP per capita (current US$),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,11920.061090,12038.871592,12313.997357,13101.541816,13300.824611,12372.884783,13195.935900,13672.576657,15501.526337,15743.310758

In [60]:
# Turn dataframe from wide to long format
gdp_per_cap = gdp_per_cap.drop(columns=['series_name'])
gdp_per_cap = pd.melt(gdp_per_cap, id_vars =["country_name"], var_name = "Year", value_name = "gdp_per_cap" )
gdp_per_cap.head()

     country_name  Year   gdp_per_cap
0          Canada  1964  2.555111e+03
1     Afghanistan  1964  8.551107e+01
2         Albania  1964  3.460337e+09
3         Algeria  1964  2.388759e+02
4  American Samoa  1964  3.460337e+09

In [61]:
# GDP growth (annual %)
gdp_growth=df1[df1['series_name'] == 'GDP growth (annual %)']
gdp_growth.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
1,Canada,GDP growth (annual %),6.642894e+00,6.316714e+00,6.704992e+00,3.091206e+00,4.995667e+00,5.045456e+00,4.995407e+09,5.278676e+09,...,1.762223,2.329123,2.870036,0.659177,1.001394,3.039880,2.777041,1.879592,-5.233024,4.540887
8,Afghanistan,GDP growth (annual %),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.737146
15,Albania,GDP growth (annual %),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,1.417243,1.002018,1.774449,2.218726,3.314981,3.802227,4.019360,2.088063,-3.481630,8.515501
22,Algeria,GDP growth (annual %),5.839413e+00,6.206898e+00,-4.804971e+00,9.452963e+00,1.079624e+01,8.433280e+00,8.862657e+00,-1.133172e+01,...,3.400000,2.800000,3.800000,3.700000,3.200000,1.300000,1.200000,1.000000,-5.100000,3.500000
29,American Samoa,GDP growth (annual %),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,-4.334828,-2.500000,1.762821,3.149606,-1.679389,-6.987578,2.671119,-0.487805,5.065359,-1.866252

In [62]:
# Turn dataframe from wide to long format
gdp_growth = gdp_growth.drop(columns=['series_name'])
gdp_growth = pd.melt(gdp_growth, id_vars =["country_name"], var_name = "Year", value_name = "gdp_growth" )
gdp_growth.head()

     country_name  Year    gdp_growth
0          Canada  1964  6.642894e+00
1     Afghanistan  1964  3.460337e+09
2         Albania  1964  3.460337e+09
3         Algeria  1964  5.839413e+00
4  American Samoa  1964  3.460337e+09

In [63]:
# GDP (current US$)	dataframe
gdp_current=df1[df1['series_name'] == 'GDP (current US$)']
gdp_current.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Canada,GDP (current US$),4.937752e+10,5.451518e+10,6.108838e+10,6.566866e+10,7.182981e+10,7.914841e+10,8.789610e+10,9.927196e+10,...,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,1.988336e+12
7,Afghanistan,GDP (current US$),8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,1.408889e+09,1.748887e+09,1.831109e+09,...,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10
14,Albania,GDP (current US$),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540183e+10,1.513187e+10,1.825579e+10
21,Algeria,GDP (current US$),2.909293e+09,3.136259e+09,3.039835e+09,3.370843e+09,3.852116e+09,4.257219e+09,4.863487e+09,5.077222e+09,...,2.090590e+11,2.097550e+11,2.138100e+11,1.659793e+11,1.600342e+11,1.700970e+11,1.749109e+11,1.717674e+11,1.450092e+11,1.630444e+11
28,American Samoa,GDP (current US$),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,6.400000e+08,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.160000e+08,7.090000e+08

In [64]:
# Turn dataframe from wide to long format
gdp_current = gdp_current.drop(columns=['series_name'])
gdp_current = pd.melt(gdp_current, id_vars =["country_name"], var_name = "Year", value_name = "gdp_current" )
gdp_current.head()

     country_name  Year   gdp_current
0          Canada  1964  4.937752e+10
1     Afghanistan  1964  8.000000e+08
2         Albania  1964  3.460337e+09
3         Algeria  1964  2.909293e+09
4  American Samoa  1964  3.460337e+09

In [65]:
# Inflation, consumer prices (annual %) dataframe
inflation=df1[df1['series_name'] == 'Inflation, consumer prices (annual %)']
inflation.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
5,Canada,"Inflation, consumer prices (annual %)",1.912145e+00,2.332657e+00,3.815659e+00,3.579952e+00,4.055300e+00,4.561559e+00,3.346040e+00,2.704918e+00,...,1.515678,0.938292,1.906636,1.125241,1.428760,1.596884,2.268226,1.949269,0.717000,3.395193
19,Albania,"Inflation, consumer prices (annual %)",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,2.031593,1.937621,1.625865,3.501208,-0.367317,2.060598,2.028060,1.411091,1.620887,2.041472
26,Algeria,"Inflation, consumer prices (annual %)",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,6.600000e+00,2.626642e+00,...,8.891451,3.254239,2.916927,4.784447,6.397695,5.591116,4.269990,1.951768,2.415131,7.226063
47,Angola,"Inflation, consumer prices (annual %)",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,10.277905,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266
54,Antigua and Barbuda,"Inflation, consumer prices (annual %)",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,3.376880,1.059498,1.089442,0.968993,-0.489438,2.432488,1.207158,1.431356,0.625990,2.062996

In [66]:
# Turn dataframe from wide to long format
inflation = inflation.drop(columns=['series_name'])
inflation = pd.melt(inflation, id_vars =["country_name"], var_name = "Year", value_name = "inflation" )
inflation.head()

          country_name  Year     inflation
0               Canada  1964  1.912145e+00
1              Albania  1964  3.460337e+09
2              Algeria  1964  3.460337e+09
3               Angola  1964  3.460337e+09
4  Antigua and Barbuda  1964  3.460337e+09

In [67]:
# Consumer price index (2010 = 100)	
cpi=df1[df1['series_name'] == 'Consumer price index (2010 = 100)']
cpi.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
4,Canada,Consumer price index (2010 = 100),1.410990e+01,1.443904e+01,1.498998e+01,1.552662e+01,1.615627e+01,1.689325e+01,1.745850e+01,1.793074e+01,...,104.471952,105.452204,107.462793,108.672009,110.224671,111.984831,114.524900,116.757298,1.175944e+02,1.215870e+02
11,Afghanistan,Consumer price index (2010 = 100),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,119.005731,127.795223,133.768367,132.883209,138.708666,145.610741,146.522482,149.895975,8.328121e+10,9.945796e+10
18,Albania,Consumer price index (2010 = 100),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,105.530382,107.575160,109.324187,113.151855,112.736229,115.059270,117.392740,119.049258,1.209789e+02,1.234487e+02
25,Algeria,Consumer price index (2010 = 100),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,2.569025e+00,2.738580e+00,2.810513e+00,...,113.817930,117.521838,120.949864,126.736646,134.844870,142.384203,148.463995,151.361668,1.550173e+02,1.662189e+02
46,Angola,Consumer price index (2010 = 100),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,125.146088,136.131179,146.042056,159.702596,208.729629,271.019931,324.222754,379.599042,4.641417e+02,5.836780e+02

In [68]:
# Turn dataframe from wide to long format
cpi = cpi.drop(columns=['series_name'])
cpi = pd.melt(cpi, id_vars =["country_name"], var_name = "Year", value_name = "cpi" )
cpi.head()

  country_name  Year           cpi
0       Canada  1964  1.410990e+01
1  Afghanistan  1964  3.460337e+09
2      Albania  1964  3.460337e+09
3      Algeria  1964  3.460337e+09
4       Angola  1964  3.460337e+09

In [69]:
# Unemployment, total (% of total labor force) (national estimate)
unemployment=df1[df1['series_name'] == 'Unemployment, total (% of total labor force) (national estimate)']
unemployment.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
3,Canada,"Unemployment, total (% of total labor force) (...",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.700000e+00,5.900000e+00,6.400000e+00,...,7.290000e+00,7.070000e+00,6.910000e+00,6.910000e+00,7.000000e+00,6.340000e+00,5.830000e+00,5.660000e+00,9.460000e+00,7.460000e+00
17,Albania,"Unemployment, total (% of total labor force) (...",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,1.338000e+01,1.587000e+01,1.805000e+01,1.719000e+01,1.542000e+01,1.362000e+01,1.230000e+01,1.147000e+01,1.169000e+01,9.945796e+10
24,Algeria,"Unemployment, total (% of total labor force) (...",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,1.097000e+01,9.820000e+00,1.021000e+01,1.121000e+01,1.020000e+01,1.200000e+01,6.993093e+10,7.120775e+10,8.328121e+10,9.945796e+10
31,American Samoa,"Unemployment, total (% of total labor force) (...",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,6.030136e+10,6.186779e+10,6.355480e+10,6.016218e+10,6.119198e+10,6.562039e+10,6.993093e+10,7.120775e+10,8.328121e+10,9.945796e+10
59,Argentina,"Unemployment, total (% of total labor force) (...",3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.800000e+00,6.000000e+00,...,7.220000e+00,7.100000e+00,7.270000e+00,6.016218e+10,6.119198e+10,8.350000e+00,9.220000e+00,9.840000e+00,1.146000e+01,8.740000e+00

In [70]:
# Turn dataframe from wide to long format
unemployment = unemployment.drop(columns=['series_name'])
unemployment = pd.melt(unemployment, id_vars =["country_name"], var_name = "Year", value_name = "unemployment" )
unemployment.head()

     country_name  Year  unemployment
0          Canada  1964  3.460337e+09
1         Albania  1964  3.460337e+09
2         Algeria  1964  3.460337e+09
3  American Samoa  1964  3.460337e+09
4       Argentina  1964  3.460337e+09

In [71]:
# Current health expenditure per capita (current US$)
health_exp=df1[df1['series_name'] == 'Current health expenditure (% of GDP)']
health_exp.head()

,country_name,series_name,1964,1965,1966,1967,1968,1969,1970,1971,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
6,Canada,Current health expenditure (% of GDP),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,10.506379,10.405137,10.248527,10.733205,11.022961,10.835383,10.806375,1.084448e+01,8.328121e+10,9.945796e+10
13,Afghanistan,Current health expenditure (% of GDP),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,7.897176,8.805941,9.528871,10.105348,11.818562,12.620817,14.126743,1.324220e+01,8.328121e+10,9.945796e+10
20,Albania,Current health expenditure (% of GDP),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,5.055265,5.385611,5.503473,4.896312,4.916017,5.012636,5.232072,7.120775e+10,8.328121e+10,9.945796e+10
27,Algeria,Current health expenditure (% of GDP),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,6.000510,6.035763,6.547214,6.978489,6.607496,6.279384,6.163026,6.243371e+00,8.328121e+10,9.945796e+10
41,Andorra,Current health expenditure (% of GDP),3.460337e+09,3.577787e+09,3.744663e+09,3.878820e+09,4.144370e+09,4.422345e+09,4.995407e+09,5.278676e+09,...,6.126280,6.155028,6.131505,6.283535,6.305263,6.589455,6.751625,6.711585e+00,8.328121e+10,9.945796e+10

In [72]:
# Turn dataframe from wide to long format
health_exp = health_exp.drop(columns=['series_name'])
health_exp = pd.melt(health_exp, id_vars =["country_name"], var_name = "Year", value_name = "health_exp" )
health_exp.head()

  country_name  Year    health_exp
0       Canada  1964  3.460337e+09
1  Afghanistan  1964  3.460337e+09
2      Albania  1964  3.460337e+09
3      Algeria  1964  3.460337e+09
4      Andorra  1964  3.460337e+09

In [73]:
# Merge all dataframes 

merged_df1 = pd.merge(gdp_per_cap,gdp_current, right_index = False, left_index =False)
merged_df1.head()

merged_df2 = pd.merge(merged_df1,inflation, right_index = False, left_index =False)
merged_df2.head()

merged_df3 = pd.merge(merged_df2,unemployment, right_index = False, left_index =False)
merged_df2.head()

merged_df4 = pd.merge(merged_df3,cpi, right_index = False, left_index =False)
merged_df4.head()

merged_df5 = pd.merge(merged_df4,health_exp, right_index = False, left_index =False)
merged_df5.head()

merged_df6 = pd.merge(merged_df5,gdp_growth, right_index = False, left_index =False)
merged_df6.head()

,country_name,Year,gdp_per_cap,gdp_current,inflation,unemployment,cpi,health_exp,gdp_growth
0,Canada,1964,2.555111e+03,4.937752e+10,1.912145e+00,3.460337e+09,1.410990e+01,3.460337e+09,6.642894e+00
1,Albania,1964,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09
2,Algeria,1964,2.388759e+02,2.909293e+09,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09,5.839413e+00
3,Armenia,1964,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09,3.460337e+09
4,Australia,1964,2.131278e+03,2.379998e+10,2.866242e+00,3.460337e+09,8.402706e+00,3.460337e+09,6.980061e+00

In [29]:
print(merged_df6.shape)

(5800, 9)

In [82]:
# Remove outliers using IQR method
# Iterate through columns of the dataframe, starting from the 3rd column
for col in merged_df6.columns[2:]:
    # Calculate the first and third quartiles (Q1 and Q3)
    Q1 = merged_df6[col].quantile(0.25)
    Q3 = merged_df6[col].quantile(0.75)

    # Calculate the IQR
    IQR = Q3 - Q1

    # Define the lower and upper bounds for outliers
    lower_bound = Q1 - (1.5 * IQR)
    upper_bound = Q3 + (1.5 * IQR)

    # Identify the outlier countries
    outlier_countries = merged_df6[(merged_df6[col] < lower_bound) | (merged_df6[col] > upper_bound)]

    # Remove the outlier countries from the dataset
    merged_df6 = merged_df6[~merged_df6.index.isin(outlier_countries.index)]

print(merged_df6.shape)

(2710, 9)